@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Exceptions.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ArmadaPortal.Serene.Default.ExceptionsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>