{
    "RootNamespace": "ArmadaPortal",
    "Connections": [
        {
            "Key": "ArmadaFlood",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=ArmadaPortal_Orders_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Orders",
                    "Identifier": "Orders",
                    "Module": "ArmadaFlood",
                    "ConnectionKey": "ArmadaFlood",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VersionInfo",
                    "Identifier": "VersionInfo",
                    "Module": "ArmadaFlood",
                    "ConnectionKey": "ArmadaFlood",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.aaa_floodriskorder",
                    "Identifier": "AaaFloodriskorder",
                    "Module": "ArmadaFlood",
                    "ConnectionKey": "ArmadaFlood",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=ArmadaPortal_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Exceptions",
                    "Identifier": "Exceptions",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Languages",
                    "Identifier": "Languages",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RolePermissions",
                    "Identifier": "RolePermissions",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Roles",
                    "Identifier": "Roles",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UserPermissions",
                    "Identifier": "UserPermissions",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UserPreferences",
                    "Identifier": "UserPreferences",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.UserRoles",
                    "Identifier": "UserRoles",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Users",
                    "Identifier": "Users",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VersionInfo",
                    "Identifier": "VersionInfo",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "DefaultConnection",
            "ConnectionString": "Data Source=(LocalDb)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\\aspnet-ArmadaPortal-20181124090354.mdf;Initial Catalog=aspnet-ArmadaPortal-20181124090354;Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\ArmadaPortal\\ArmadaPortal.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}