<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dyn:ClientId" value="203dccd2-2363-47d0-8b1a-12edb200e0d4" />
    <add key="dyn:ClientSecret" value="hPV/ZN5mkmiY6ySRM+x7YCI+M6uh320EnaZGVy3NdE0=" />
    <add key="dyn:Resource" value="https://armadaflood.crm.dynamics.com/" />
    <add key="dyn:TenantId" value="22dc494c-342e-4f2d-bd6f-eb5406c4267d" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
