<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net461" />
  <package id="AutoMapper" version="8.0.0" targetFramework="net461" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.2.0" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.2.0" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.2.0.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Sasha.Exceptions.Signed" version="1.2.0" targetFramework="net461" />
  <package id="Sasha.ExtensionMethods.Signed" version="1.0.2" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="XrmLibrary.EntityHelpers.2016.Signed" version="1.4.1" targetFramework="net461" />
</packages>