<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="LocalTextPackages" value="{ Site: [ 'Controls.', 'Db.', 'Dialogs.', 'Enums.', 'Forms.', 'Permission.', 'Site.', 'Validation.' ], Login: [ 'Forms.Membership.Login.', 'Db.Administration.User.', 'Validation.Required', 'Dialogs.' ] }" />
    <add key="Logging" value="{  File: '~\\App_Data\\Log\\App_{0}_{1}.log',  FlushTimeout: 0,  Level: 'Off' }" />
    <add key="CDNSettings" value="{ Enabled: false, Url: '', Include: [], Exclude: ['dynjs.axd/Lookup.*', 'dynjs.axd/RemoteData.*', 'dynjs.axd/RegisteredScripts.js'] }" />
    <add key="CssBundling" value="{ Enabled: false, Minimize: false, UseMinCss: false}" />
    <add key="ScriptBundling" value="{ Enabled: false, Minimize: false, UseMinJS: false, NoMinimize: ['~/Scripts/ckeditor/ckeditor.js'] }" />
    <add key="UploadSettings" value="{ Path: '~\\App_Data\\upload\\' }" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="dyn:SdkClientVersion" value="8.2" />

    <!--e4859f03-ac07-4edc-a99e-588c099641c0
    &q1@a:)w*-+)MhD^FLj4Fl6]KVPQNZ:9i-->
    
    
    <add key="dyn:ClientId" value="203dccd2-2363-47d0-8b1a-12edb200e0d4" />
    <add key="dyn:ClientSecret" value="hPV/ZN5mkmiY6ySRM+x7YCI+M6uh320EnaZGVy3NdE0=" />
    <add key="dyn:Resource" value="https://armadaflood.crm.dynamics.com/" />
    <add key="dyn:TenantId" value="22dc494c-342e-4f2d-bd6f-eb5406c4267d" />


    <!--<add key="dyn:ClientId" value="fabc2902-f9db-4158-8386-72fbce594416" />
    <add key="dyn:ClientSecret" value="OuMldYWiAS6QUr6Wcja9N6ftFewFYsdtuQA/aR/DsSA=" />
    <add key="dyn:Resource" value="https://armada.crm.dynamics.com/" />
    <add key="dyn:TenantId" value="22dc494c-342e-4f2d-bd6f-eb5406c4267d" />-->
    
    
  </appSettings>

  <connectionStrings>
    <!--<add name="Default" connectionString="Data Source=(LocalDb)\MSSqlLocalDB; Initial Catalog=ArmadaPortal_Default_v1; Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ArmadaFlood" connectionString="Data Source=(LocalDb)\MSSqlLocalDB; Initial Catalog=ArmadaPortal_Orders_v1; Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Default" connectionString="Server=tcp:armadatestportal.database.windows.net,1433;Initial Catalog=armadadevportal;Persist Security Info=False;User ID=portaladmin;Password=Pass@word1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="ArmadaFlood" connectionString="Server=tcp:armadatestportal.database.windows.net,1433;Initial Catalog=armadadevportal;Persist Security Info=False;User ID=portaladmin;Password=Pass@word1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

    <!-- Online using Office 365 -->
    <!--<add name="ArmadaFloodCrm" connectionString="Url=https://armadaflood.crm.dynamics.com; Username=mgarrett@armadaanalytics.com; Password=; authtype=Office365" />-->

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="no-reply@mysite.com">
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <!--<authentication mode="None" />-->

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="30" path="/" slidingExpiration="true" />
    </authentication>

    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" requestPathInvalidCharacters="" maxRequestLength="51200" />

    <customErrors mode="Off" />
    <globalization culture="auto:en-US" uiCulture="auto:en-US" />

    <httpHandlers>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".tsx" />
      <mimeMap fileExtension=".tsx" mimeType="text/tsx" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="StackExchange.Exceptional.ExceptionalModule, StackExchange.Exceptional" />
    </modules>
    <handlers>
      <add name="ErrorLog" path="/errorlog.axd" verb="POST,GET,HEAD" type="StackExchange.Exceptional.HandlerFactory, StackExchange.Exceptional" preCondition="integratedMode" />
      <add name="DynamicScriptHandler" verb="POST,GET,HEAD" path="DynJS.axd" type="Serenity.Web.HttpHandlers.DynamicScriptHandler, Serenity.Web" />
      <add name="SkipStaticFileForUploadFolder" verb="GET" path="/upload/*" type="System.Web.Handlers.TransferRequestHandler" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <location path="errorlog.axd">
    <system.web>
      <authorization>
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.2.0" newVersion="1.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsieJavaScriptEngine" publicKeyToken="a3a2846a37ac0d3e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NUglify" publicKeyToken="15bc7810aec21b5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.12.0" newVersion="1.5.12.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.19.0.0" newVersion="2.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.diagnostics>
    <trace autoflush="true" />

    <sources>
      <source name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchName="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.DefaultTraceListener" />
          <remove name="Default" />
          <add name="fileListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- 
				Possible values for switches: Off, Error, Warning, Information, Verbose
						Verbose:      includes Error, Warning, Info, Trace levels
						Information:  includes Error, Warning, Info levels
						Warning:      includes Error, Warning levels
						Error:        includes Error level
		-->
      <add name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" value="Error" />
    </switches>
    <sharedListeners>
      <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="QuickStartXRMToolingWPFClient.log" />
    </sharedListeners>
  </system.diagnostics>
  
</configuration>
