@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.UserPreferences.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ArmadaPortal.Serene.Default.UserPreferencesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>